<!DOCTYPE html>
<html>
<head>
    <title>chapp!</title>
</head>
<body>
    <div class="container">
        <h1>chapp - A simple chat app made using socket.io and node</h1>
        <input id="messageInput" autocomplete="off" />&nbsp;&nbsp;
        <button id="sendBtn">Send</button>
        <br><br>
        <span>Chat history</span>
        <div id="chatHistory" style="display:none;">
            <div id="history"></div>
        </div>
    </div>
</body>
    <script type="text/javascript" src="js/jsdependency-loader.js"></script>
</html>
