<!DOCTYPE html>
<html>
<head>
	<title>chapp!</title>
</head>
<body>
  <h1>
    chapp - A simple chat app made using socket.io and node
  </h1>
  <input id="messageInput" autocomplete="off" />&nbsp;&nbsp;
  <button id="sendBtn">Send</button>
  <br><br>
  Chat history
  <div id="chatHistory" style="display:none;">
    <div id="history"></div>
  </div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>

<script type="text/javascript" src="js/client.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css">
</html>
