<!DOCTYPE html>
<html>
<head>
	<title>chapp!</title>
</head>
<body>
  <h1>chapp - A simple chat app made using socket.io and node</h1>
  <input id="messageInput" autocomplete="off" />&nbsp;&nbsp;
  <button id="sendBtn">Send</button>
  <br><br>
  Chat history
  <div id="chatHistory" style="display:none;">
    <div id="history"></div>
  </div>
</body>
    <script type="text/javascript" src="js/jsdependency-loader.js"></script>
    <script type="text/javascript" src="js/script-loader.js"></script>
</html>
