body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: #EEEEEE;
}

#chatHistory {
  border: 0.05em solid cadetblue;
  padding: 10px 5px;
  width: 600px;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  bottom: 10px;
  overflow-y: auto;
  background-color: #A7FFEB;
}

.chat-box {
  border-radius: 8px;
  padding: 3px 6px;
  border: 0.1em solid grey;
  width: auto;
  min-width:200px;
  margin-bottom: 5px;
}

.chat-left {
  display: flex;
  justify-content: flex-start;
}

.chat-right {
  display: flex;
  justify-content: flex-end;
}

.senderUsernameEle {
  display: block;
  color: #FF5722;
  text-align: left;
  font-size: small;
}

.receiverUsernameEle {
  display: block;
  color: #3F51B5;
  text-align: right;
  font-size: small;
}

.card {
  border-radius: 2px;
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
}

#chatRoomDetails, #usersInRoomStatus, #sendMessageDiv {
  padding: 5px;
  width: 500px;
}

.custom-btn {
  text-align: center;
  background-color: #1DE9B6;
  width: 150px;
  border: 0.05em solid cadetblue;
  border-radius: 5px;
}

.flex-container {
  display: flex;
}

#messageInput {
  width: 500px;
  margin-bottom: 5px;
}

.chatLabel {
  display: inline-block;
  font-size: small;
  width: 75px;
}

#user1, #user2 {
  width: 100px;
  display: inline-block;
}

.chatLabelText {
  display: inline-block;
}

.headLabel {
  display: inline-block;
  width: 100px;
  font-size: small;
}

#chatRoomDetails, #sendMessageDiv, #usersInRoomStatus {
  display: flex;
  justify-content: flex-start;
}

#chatContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}

#chatDiv {
  margin-top: 10px;
}
